/* Título */
h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Subtítulo */
h2 {
  text-align: center;
  margin-top: 2%;
  font-family: verdana;
}

/* sub-subtítulo */
h3 {
  font-family: verdana;
}

/* Parágrafo */
p {
  text-align: justify;
  font-family: arial;
}

/* Alinhar conteúdos */
body {
  margin-inline: 300px;
}

/* imagens */
img {
  margin-inline: 120px;
  margin-top: 30px;
}
